*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
.container{
width: 82%;
margin: 0 auto;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #02A28F;
}
.nav{
    display: flex;
    justify-content:space-between ;
    color: white;
    padding: 20px;
    font-size: 19px;
}
.img img{
    width: 25px;
}
.nav-right{
    margin-top: 8px;
    display: flex;
    gap: 20px;
}



header{
    padding-top: 70px;
}
.header-left{
    float: left;
    width: 744px;
    height: 396px;
    left: 156px;
    border-radius: 10px;
    background: #D9D9D9;

}
.end{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 20px;
    padding-top: 290px;
}

.header-right{
    float: right;
    width: 320px;
    height: 396px;
    display: flex;
    flex-direction: column;
}
.header-name{
    width: 360px;
    height: 48px;
    border-radius: 10px;
    background-color: #02A28F;
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 8px;
}
.header-text{
    font-weight: 800;
}

.header-item{
    padding: 11px;
    margin-top: 20px;
    width: 360px;
    height: 90px;
    border-radius: 10px;
    display: flex;
justify-content: space-around;
-webkit-box-shadow: -11px 9px 25px -15px rgba(105, 108, 111, 0.41);
-moz-box-shadow: -11px 9px 25px -15px rgba(105, 108, 111, 0.41);
box-shadow: -11px 9px 25px -15px rgba(105, 108, 111, 0.41);
}
.header-color{
    margin-right:5px;
    width: 132px;
    height: 70px;
    top: 201px;
    left: 937px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background: #D9D9D9;
}


main{
    display: flex;
    justify-content: space-between;
}

.main-item{
    margin-top: 50px;
    background-color: #02A28F;
    width: 744px;
    height: 48px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}
.card{
    display: flex;
    gap: 20px;
}
.card-color{
    width: 360px;
    height: 191px;
    border-radius: 10px;
    background-color: #D9D9D9;
}
.card-fake{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 360px;
    height: 420px;
    border-radius: 10px;
-webkit-box-shadow: -11px 40px 73px -46px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 40px 73px -46px rgba(0,0,0,0.75);
box-shadow: -11px 40px 73px -46px rgba(0,0,0,0.75);
}
.style{
    
    padding-left: 12px;
}
.card-name{
    margin-top: 13px;
    color: #02A28F;
}

p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.header-names{
    margin-top: 52px;
    width: 360px;
    height: 45px;
    border-radius: 10px;
    background-color: #02A28F;
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 5px;
}

.main-label{
    display: flex;
    justify-content: space-between;
}
.bottom{
    margin-top: 20px;
}
.main-right{
    margin-left: 50px;
}

footer{
margin-top: 50px;
width: 100%;
height: 60px;
text-align: center;
font-size: 22px;
color: white;
padding: 15px;
background-color: #02A28F;
}

@media only screen and (max-width: 600px) {
.container{
    width: 95%;
margin: 0 auto;
}
.nav-right{
    display: none;
}
.header-left{
    width: 370px;
    height: 300px;
}
.end{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 140px;
}
.header-right{
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: -30px;
}
.main-item{
    margin-left: 5px;
    margin-top: 30px;
    background-color: #02A28F;
    width: 360px;
    height: 48px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}
.card{
    flex-direction: column;
}
.main-right{
    display: none;
}
}